@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.destacados .contenido1 {
  background-color: rgba(102, 121, 74, 0.712);
}

/* fuentes*/
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: top;
}

h1 {
  color: rgb(253, 255, 255);
  font-family: "Pacifico";
  font: size 400;
  font-weight: bold;
  margin: 30px;
}

p {
  font-size: 10px;
  text-align: justify;
  font-size: medium;
  color: black;
  margin: 20px;
}

.nav-item a {
  color: black;
}

.nav-item a {
  color: black;
}

.grid-provincias {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  gap: 20px;
}
.grid-provincias div img {
  width: 100%;
  padding: 20px;
}
.grid-provincias div h2 {
  color: rgb(38, 39, 39);
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.grid-provincias div h3 {
  color: rgb(247, 100, 3);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.grid-provincias div h4 {
  color: rgb(247, 100, 3);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  margin-left: 10px;
}
.grid-provincias div p {
  color: black;
  font-size: 15px;
  margin: 10px;
}
.grid-provincias .grid-item-norte {
  background-color: rgb(231, 224, 157);
  text-align: center;
}
.grid-provincias .grid-item-centro {
  background-color: rgb(226, 216, 121);
  text-align: center;
}
.grid-provincias .grid-item-surypatagonia {
  background-color: rgb(90, 196, 4);
  text-align: center;
}

/* seccion de lugares destacados */
.destacados {
  background-color: rgba(198, 216, 155, 0.768627451);
  width: 100%;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.destacados h3 {
  color: yellow;
  background-color: #d2e091;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.destacados .contenido1 {
  margin: 20px;
}
.destacados .contenido1 div img {
  width: 100%;
}
.destacados .contenido1 div h3 {
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.destacados .contenido2 {
  width: 97%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
.destacados .contenido2 iframe {
  width: 100%;
}

.contenido1norte {
  background-color: #6f8011;
  background: linear-gradient(98deg, rgb(111, 128, 17) 0%, rgb(198, 219, 105) 35%, rgb(232, 232, 46) 58%, rgb(245, 234, 132) 100%);
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.contenido1norte img {
  width: 100%;
  height: 100%;
}
.contenido1norte div h2 {
  background-color: hsla(44, 94%, 48%, 0.808);
  margin-top: 20px;
}

p {
  padding: 10px;
}

.grid-galeria {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  gap: 20px;
}

.grid-galeria div h5 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2745098039);
  padding: 5px;
  width: 100%;
}

.grid-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  grid-column: span 2;
}

.img-4 {
  grid-column: span 2;
}

.img-5 {
  grid-column: span 2;
}

.grid-item {
  position: relative;
}
.grid-item h5 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2745098039);
  padding: 5px;
  width: 100%;
}

.bodegas {
  background-color: #6f8011;
  background: linear-gradient(98deg, rgb(111, 128, 17) 0%, rgb(198, 219, 105) 35%, rgb(232, 232, 46) 58%, rgb(245, 234, 132) 100%);
  text-align: center;
  padding: 5px;
}
.bodegas h3 {
  padding: 5px;
}

.grid-galeria2 {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}
.grid-galeria2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-galeria2 div img .img-7 {
  grid-column: span 1;
}
.grid-galeria2 div img .img-8 {
  grid-column: span 1;
}
.grid-galeria2 div img .img-9 {
  grid-column: span 1;
}
.grid-galeria2 div img .img-10 {
  grid-column: span 1;
}

.carouselnorte {
  max-width: 800px;
  max-height: 600px;
  margin: 20px auto;
}

/* efecto transition*/
.botonvideo {
  background-color: #d2e091;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 5px;
  transition-property: width;
  transition-duration: 1s;
  transition: 2s;
}

.botonvideo:hover {
  width: 700px;
  transform: translateX(550px);
}

/* fin norte */
/* inicio sur */
.imagen-encabezado img {
  width: 100%;
}

.contenido1sur {
  justify-content: center;
  text-align: center;
}
.contenido1sur div h2 {
  background: #ebf26b;
  background: radial-gradient(circle, rgb(235, 242, 107) 1%, rgb(242, 222, 65) 43%, rgb(232, 232, 46) 71%, rgb(253, 255, 212) 91%);
  margin-top: 20px;
}

.grid-galeriasur {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}
.grid-galeriasur div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-galeriasur .img-1sur {
  grid-row: span 2;
}
.grid-galeriasur .img-4sur {
  grid-column: span 2;
}
.grid-galeriasur .grid-item {
  position: relative;
}
.grid-galeriasur .grid-item h3 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2745098039);
  padding: 5px;
  width: 100%;
}

.contenido2sur {
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.contenido2sur h2 {
  background: #ebf26b;
  background: radial-gradient(circle, rgb(235, 242, 107) 1%, rgb(242, 222, 65) 43%, rgb(232, 232, 46) 71%, rgb(253, 255, 212) 91%);
}

.grid-galeria2sur {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}
.grid-galeria2sur div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-galeria2sur .grid-item {
  position: relative;
}
.grid-galeria2sur .grid-item h3 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2745098039);
  padding: 5px;
  width: 100%;
}

h2 {
  background: #f7f4be;
  background: linear-gradient(98deg, rgb(247, 244, 190) 15%, rgb(219, 240, 144) 48%, rgb(236, 240, 163) 69%, rgb(253, 255, 212) 91%);
  text-align: center;
}

.carouselsur {
  max-width: 800px;
  max-height: 600px;
  margin: 20px auto;
}

.carouseldestacados {
  max-width: 100%;
  max-height: 100%;
}

p {
  padding: 10px;
}

h2 {
  background: #f7f4be;
  background: linear-gradient(98deg, rgb(247, 244, 190) 15%, rgb(219, 240, 144) 48%, rgb(236, 240, 163) 69%, rgb(253, 255, 212) 91%);
  text-align: center;
}

h4 {
  text-align: center;
}

.ajuste-iframe {
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 300px;
  margin: 10px;
}

.contenedor-destacados1 div {
  background: #ebf29d;
  background: linear-gradient(90deg, rgb(235, 242, 157) 0%, rgb(198, 207, 107) 28%, rgb(158, 199, 87) 50%, rgb(209, 213, 84) 83%, rgb(247, 245, 176) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.contenedor-destacados1 div img {
  padding: 20px;
}

.contenedor-destacados2 div {
  background: #ebf29d;
  background: linear-gradient(90deg, rgb(235, 242, 157) 0%, rgb(198, 207, 107) 28%, rgb(158, 199, 87) 50%, rgb(209, 213, 84) 83%, rgb(247, 245, 176) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.contenedor-destacados2 div img {
  padding: 20px;
}

.contenedor-destacados3 div {
  background: #ebf29d;
  background: linear-gradient(90deg, rgb(235, 242, 157) 0%, rgb(198, 207, 107) 28%, rgb(158, 199, 87) 50%, rgb(209, 213, 84) 83%, rgb(247, 245, 176) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.contenedor-destacados3 div img {
  padding: 20px;
}

.contenedor-destacados4 div {
  background: #ebf29d;
  background: linear-gradient(90deg, rgb(235, 242, 157) 0%, rgb(198, 207, 107) 28%, rgb(158, 199, 87) 50%, rgb(209, 213, 84) 83%, rgb(247, 245, 176) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.contenedor-destacados4 div img {
  padding: 20px;
}

.contenedor-destacados5 div {
  background: #ebf29d;
  background: linear-gradient(90deg, rgb(235, 242, 157) 0%, rgb(198, 207, 107) 28%, rgb(158, 199, 87) 50%, rgb(209, 213, 84) 83%, rgb(247, 245, 176) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.contenedor-destacados5 div img {
  padding: 20px;
}

.avisos h3 {
  color: #ebf26b;
  background: #f7f4be;
  background: linear-gradient(98deg, rgb(247, 244, 190) 15%, rgb(236, 241, 165) 48%, rgb(236, 240, 163) 69%, rgb(253, 255, 212) 91%);
  text-align: center;
  font-size: 30px;
}

/* fin de pagina destacados */
/* aca arranca el formulario de contacto */
.baseformulario {
  display: flex;
  flex: row;
  justify-content: center;
  padding: 20px;
}
.baseformulario .comentario-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.baseformulario .comentario-form h4 {
  padding: 20px;
}
.baseformulario .comentario-form h6 {
  padding: 20 px;
  text-align: justify;
}
.baseformulario .comentario-form img {
  width: 200px;
  height: 400px;
}
.baseformulario .contenido-form {
  background-color: #ededbe;
  padding: 30px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.248);
  width: 100%;
  max-width: 400px;
}
.baseformulario .contenido-form h4 {
  margin-bottom: 10px;
  text-align: center;
}
.baseformulario .contenido-form h5 {
  margin-bottom: 20px;
}
.baseformulario .formato-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}
.baseformulario .formato-form input[type=text],
.baseformulario .formato-form input[type=email],
.baseformulario .formato-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.baseformulario .formato-form textarea {
  resize: vertical;
}
.baseformulario .submit-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #bcd18b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.baseformulario .submit-button:hover {
  background-color: #0056b3;
}

/* fin formulario de contacto */
/* inicio footer general*/
.base-footer {
  background-color: hsla(44, 84%, 63%, 0.808);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.base-footer .contenido-footer1 {
  padding-left: 40px;
  margin: 20px;
}
.base-footer .contenido-footer1 img {
  width: 242px;
}
.base-footer .contenido-footer2 ul {
  padding: 20px;
  margin: 10px;
  list-style: none;
}
.base-footer .contenido-footer2 li a {
  color: black;
  font-size: medium;
  text-decoration: none;
}
.base-footer .contenido-footer2 li a:hover {
  color: brown;
}
.base-footer .contenido-footer3 h6 {
  margin: 5px;
}
.base-footer .contenido-footer3 h6 p {
  font-size: small;
}
.base-footer .contenido-footer3 h6 a {
  color: black;
}
.base-footer .grid-icons a {
  color: black;
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .contenedor-destacados1 div img {
    width: 400px;
    height: 267px;
    padding: 5px;
    margin: 5px;
  }
  .contenedor-destacados2 div img {
    width: 400px;
    height: 267px;
    padding: 5px;
    margin: 5px;
  }
  .contenedor-destacados3 div img {
    width: 400px;
    height: 267px;
    padding: 5px;
    margin: 5px;
  }
  .contenedor-destacados4 div img {
    width: 400px;
    height: 267px;
    padding: 5px;
    margin: 5px;
  }
  .contenedor-destacados5 div img {
    width: 400px;
    height: 267px;
    padding: 5px;
    margin: 5px;
  }
}
@media screen and (max-width: 811px) {
  .grid-provincias {
    display: block;
  }
  .grid-provincias div img {
    width: 90%;
    padding: 10px;
  }
  .grid-provincias div p {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
  }
  .grid-galeriasur {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
  }
  .grid-galeriasur .img-1sur {
    grid-row: span 1;
  }
  .grid-galeriasur .img-4sur {
    grid-column: span 1;
  }
  .contenedor-destacados1 div img {
    width: 350px;
    height: 233px;
  }
  .contenedor-destacados2 div img {
    width: 350px;
    height: 233px;
  }
  .contenedor-destacados3 div img {
    width: 350px;
    height: 233px;
  }
  .contenedor-destacados4 div img {
    width: 350px;
    height: 233px;
  }
  .contenedor-destacados5 div img {
    width: 350px;
    height: 233px;
  }
}
@media screen and (max-width: 743px) {
  .grid-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
  }
  .img-1 {
    grid-column: span 1;
  }
  .img-4 {
    grid-column: span 1;
  }
  .img-5 {
    grid-column: span 1;
  }
  .grid-item {
    position: relative;
  }
  .contenido2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
  }
  .baseformulario {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .comentario-form div {
    padding: 10 px;
    margin: 30px;
  }
  .comentario-form img {
    width: 70%;
    height: 70% px;
    text-align: center;
    padding: 20px;
  }
  .comentario-form h6 {
    text-align: justify;
  }
  .contenido-form {
    margin: 20px;
  }
  .base-footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contenido-footer1 {
    padding-left: 0;
  }
  .contenido-footer3 {
    padding-right: 0;
  }
  .contenedor-destacados1 div img {
    width: 300px;
    height: 200px;
  }
  .contenedor-destacados2 div img {
    width: 300px;
    height: 200px;
  }
  .contenedor-destacados3 div img {
    width: 300px;
    height: 200px;
  }
  .contenedor-destacados4 div img {
    width: 300px;
    height: 200px;
  }
  .contenedor-destacados5 div img {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 681px) {
  .contenido2 div {
    padding: 10px;
  }
  /* aca destacados pasa a 1 columna */
  .contenedor-destacados1 div {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contenedor-destacados1 div img {
    width: 450px;
    height: 300px;
  }
  .contenedor-destacados2 div {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contenedor-destacados2 div img {
    width: 450px;
    height: 300px;
  }
  .contenedor-destacados3 div {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contenedor-destacados3 div img {
    width: 450px;
    height: 300px;
  }
  .contenedor-destacados4 div {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contenedor-destacados4 div img {
    width: 450px;
    height: 300px;
  }
  .contenedor-destacados5 div {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contenedor-destacados5 div img {
    width: 450px;
    height: 300px;
  }
}
@media screen and (max-width: 533px) {
  .grid-galeriasur {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .grid-galeria2sur {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .base-footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 489px) {
  .grid-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }
  .contenedor-destacados1 div img {
    width: 360px;
    height: 240px;
  }
  .contenedor-destacados2 div img {
    width: 360px;
    height: 240px;
  }
  .contenedor-destacados3 div img {
    width: 360px;
    height: 240px;
  }
  .contenedor-destacados4 div img {
    width: 360px;
    height: 240px;
  }
  .contenedor-destacados5 div img {
    width: 360px;
    height: 240px;
  }
}
@media screen and (max-width: 440px) {
  .grid-galeria2 {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
  }
  .contenido2 {
    padding: 5px;
    margin: 5px;
  }
  .baseformulario {
    padding: 5px;
  }
  .comentario-form div {
    display: block;
    padding: 5px;
    margin: 10px;
  }
  .comentario-form h6 {
    width: 80%;
    height: 50%;
    padding: 5px;
    font-size: 14px;
    text-align: justify;
  }
  .comentario-form img {
    width: 50%;
    height: 50%;
    padding: 5px;
  }
  .contenido-form {
    padding: 5px;
  }
}
@media screen and (max-width: 370px) {
  .contenedor-destacados1 div img {
    width: 310px;
    height: 207px;
  }
  .contenedor-destacados2 div img {
    width: 310px;
    height: 207px;
  }
  .contenedor-destacados3 div img {
    width: 310px;
    height: 207px;
  }
  .contenedor-destacados4 div img {
    width: 310px;
    height: 207px;
  }
  .contenedor-destacados5 div img {
    width: 310px;
    height: 207px;
  }
  .destacados .contenido2 {
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
}

/*# sourceMappingURL=estilos.css.map */
