/* fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inicio pagina norte */

body {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: top;
}

h1 {
  color: rgb(253, 255, 255);
  font-family: 'Pacifico';
  font: size 400;
  font-weight: bold;
  margin: 30px;
}

p {
  font-size: 10px;
  text-align: justify;
  font-size: medium;
  color: black;
  margin: 20px;
}


.grid-provincias {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  gap: 20px;

}

.grid-provincias div img {
  width: 100%;
  padding: 20px;
}

.grid-provincias div h2 {
  color: rgb(38, 39, 39);
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.grid-provincias div h3 {
  color: rgb(247, 100, 3);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.grid-provincias div h4 {
  color: rgb(247, 100, 3);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  margin-left: 10px;
}

.grid-provincias div p {
  color: black;
  font-size: 15px;
  margin: 10px;
}

/* contenido de tarjeta norte---*/
.grid-item-norte {
  background-color: rgb(231, 224, 157);
  text-align: center;
}

/* contenido de tarjeta centro---*/
.grid-item-centro {
  background-color: rgb(226, 216, 121);
  text-align: center;
}

/* contenido de tarjeta sur */
.grid-item-surypatagonia {
  background-color: rgb(235, 216, 52);
  text-align: center;
}


/* seccion de lugares destacados */

.destacados {
  background: #d2e091;
  width: 98%;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.destacados h3 {
  background-color: #89ad3481;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.contenido1 {
  margin: 20px;
}

.contenido1 div img {
  width: 100%;
}

.contenido1 div h3 {
  background-color: #89ad3481;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.contenido2 {
  width: 97%;
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.contenido2 iframe {
  width: 100%;
}

/* fin de  pagina index */
/* inicio pagina norte */

.contenido1norte {
  background-color: #6f8011;
  background: linear-gradient(98deg, rgba(111, 128, 17, 1) 0%, rgba(198, 219, 105, 1) 35%, rgba(232, 232, 46, 1) 58%, rgba(245, 234, 132, 1) 100%);
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.contenido1norte img {
  width: 100%;
  height: 100%;
}

.contenido1norte div h2 {
  background-color: hsla(44, 94%, 48%, 0.808);
  margin-top: 20px;
}

p {
  padding: 10px;
}

.grid-galeria {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  gap: 20px;
}
.grid-galeria div h5{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: #00000046;
  padding: 5px;
  width: 100%;
}

.grid-galeria div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  grid-column: span 2;
}

.img-4 {
  grid-column: span 2;
}

.img-5 {
  grid-column: span 2;
}



.grid-item h3 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: #00000046;
  padding: 5px;
  width: 100%;
}

.bodegas {
  background-color: #6f8011;
  background: linear-gradient(98deg, rgba(111, 128, 17, 1) 0%, rgba(198, 219, 105, 1) 35%, rgba(232, 232, 46, 1) 58%, rgba(245, 234, 132, 1) 100%);
  text-align: center;
  padding: 5px;
}

.bodegas h3 {
  padding: 5px;
}

.grid-galeria2 {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}

.grid-galeria2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-7 {
  grid-column: span 1;
}

.img-8 {
  grid-column: span 1;
}

.img-9 {
  grid-column: span 1;
}

.img-10 {
  grid-column: span 1;
}


.carouselnorte {
  max-width: 800px;
  max-height: 600px;
  margin: 20px auto;
}

/* efecto transition*/
.botonvideo {
  background-color: #d2e091;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 5px;
  transition-property: width;
  transition-duration: 1s;
  transition: 2s;
}

.botonvideo:hover {
  width: 700px;
  transform: translateX(550px);
}

/* fin de seccion de la pagina norte */

/* seccion de la pagina sur */
.imagen-encabezado img {
  width: 100%;

}

.contenido1sur {
  justify-content: center;
  text-align: center;
}

.contenido1sur div h2 {
  background: #ebf26b;
  background: radial-gradient(circle, rgba(235, 242, 107, 1) 1%, rgba(242, 222, 65, 1) 43%, rgba(232, 232, 46, 1) 71%, rgba(253, 255, 212, 1) 91%);
  margin-top: 20px;
}

.grid-galeriasur {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}

.grid-galeriasur div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1sur {
  grid-row: span 2;
}

.img-4sur {
  grid-column: span 2;
}

.grid-item {
  position: relative;
}

.grid-item h3 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: #00000046;
  padding: 5px;
  width: 100%;
}


.contenido2sur {
  text-align: center;
  padding: 5px;
  margin: 10px
}

.contenido2sur h2 {
  background: #ebf26b;
  background: radial-gradient(circle, rgba(235, 242, 107, 1) 1%, rgba(242, 222, 65, 1) 43%, rgba(232, 232, 46, 1) 71%, rgba(253, 255, 212, 1) 91%);
}

.contenido2sur h3 {
  background: #ebf26b;
  background: radial-gradient(circle, rgba(235, 242, 107, 1) 1%, rgba(242, 222, 65, 1) 43%, rgba(232, 232, 46, 1) 71%, rgba(253, 255, 212, 1) 91%);
  padding: 5px;
}

.grid-galeria2sur {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}

.grid-galeria2sur div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.grid-item h3 {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: #00000046;
  padding: 5px;
  width: 100%;
}

h2 {
  background: #f7f4be;
  background: linear-gradient(98deg, rgba(247, 244, 190, 1) 15%,
      rgba(219, 240, 144, 1) 48%, rgba(236, 240, 163, 1) 69%,
      rgba(253, 255, 212, 1) 91%);
  text-align: center;
}

.carouselsur {
  max-width: 800px;
  max-height: 600px;
  margin: 20px auto;
}

/* fin pagina sur */

/*inicio destacados */
.carouseldestacados {
  max-width: 100%;
  max-height: 100%;

}

p {
  padding: 10px;
}

h2 {
  background: #f7f4be;
  background: linear-gradient(98deg, rgba(247, 244, 190, 1) 15%,
      rgba(219, 240, 144, 1) 48%, rgba(236, 240, 163, 1) 69%,
      rgba(253, 255, 212, 1) 91%);
  text-align: center;
}
h4{
  text-align: center;
}

.ajuste-iframe {
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  /* Opcional: Define un alto para que la alineación vertical tenga efecto */
}

iframe {
  /* Opcional: Define el tamaño del iframe */
  width: 100%;
  height: 300px;
  margin: 10px;
}

.contenedor-destacados1 {
  background: #ebf29d;
  background: linear-gradient(90deg, rgba(235, 242, 157, 1) 0%, rgba(198, 207, 107, 1) 28%, rgba(158, 199, 87, 1) 50%,
      rgba(209, 213, 84, 1) 83%, rgba(247, 245, 176, 1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.contenedor-destacados1 img {
  padding: 20px;
}


.contenedor-destacados2 {
  background: #ebf29d;
  background: linear-gradient(90deg, rgba(235, 242, 157, 1) 0%, rgba(198, 207, 107, 1) 28%, rgba(158, 199, 87, 1) 50%,
      rgba(209, 213, 84, 1) 83%, rgba(247, 245, 176, 1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.contenedor-destacados2 img {
  padding: 20px;
}

.contenedor-destacados3 {
  background: #ebf29d;
  background: linear-gradient(90deg, rgba(235, 242, 157, 1) 0%, rgba(198, 207, 107, 1) 28%, rgba(158, 199, 87, 1) 50%,
      rgba(209, 213, 84, 1) 83%, rgba(247, 245, 176, 1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;

}

.contenedor-destacados3 img {
  padding: 20px;
}

.contenedor-destacados4 {
  background: #ebf29d;
  background: linear-gradient(90deg, rgba(235, 242, 157, 1) 0%, rgba(198, 207, 107, 1) 28%, rgba(158, 199, 87, 1) 50%,
      rgba(209, 213, 84, 1) 83%, rgba(247, 245, 176, 1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;

}

.contenedor-destacados4 img {
  padding: 20px;
}

.contenedor-destacados5 {
  background: #ebf29d;
  background: linear-gradient(90deg, rgba(235, 242, 157, 1) 0%, rgba(198, 207, 107, 1) 28%, rgba(158, 199, 87, 1) 50%,
      rgba(209, 213, 84, 1) 83%, rgba(247, 245, 176, 1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;

}

.contenedor-destacados5 img {
  padding: 20px;
}

.avisos h3 {
  color: #ebf26b;
  background: #f7f4be;
  background: linear-gradient(98deg, rgba(247, 244, 190, 1) 15%,
      rgb(236, 241, 165) 48%, rgba(236, 240, 163, 1) 69%,
      rgba(253, 255, 212, 1) 91%);
  text-align: center;
  font-size: 30px;

}



/* fin de pagina destacados */
/* aca arranca el formulario de contacto */

.baseformulario {
  display: flex;
  justify-content: center;
  margin: 10px;
 padding: 20px;
}
.comentario-form {
  margin-right: 30px;
justify-content: center;
  align-items: center;
}
.comentario-form div h5{
  text-align: center;
  margin: 20px;
}


.contenido-form {
  background-color: #f1f1c3;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.contenido-form h4 {
  margin-bottom: 10px;
  text-align: center;
}

.contenido-form h5 {
  margin-bottom: 20px;
}

.formato-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.formato-form input[type="text"],
.formato-form input[type="email"],

.formato-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.formato-form textarea {
  resize: vertical;

}

.submit-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

}

.submit-button:hover {
  background-color: #0056b3;
}

/* fin formulario de contacto */


/* inicio footer general*/
.grid-footer {
    display: grid;
    background-color: hsla(44, 84%, 63%, 0.808);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;

    .grid-footer1 {
        padding: 10px;

        img {
            width: 242px;
        }
    }

    .grid-footer2 {
        ul {
            padding: 10px;
            list-style: none;
        }

        li a {
            font-size: small;
            text-decoration: none;
            &:hover{color: brown;}
        }
    }

    .grid-footer3 {
        p{ font-size: small;}
    }
}



/* fin footer general */

/* inicia @media  */

@media screen and (max-width:811px) {
  .grid-provincias {
    display: block;
  }

  .grid-provincias div img {
    width: 90%;
    padding: 10px;
  }

  .grid-provincias div p {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
  }

  .grid-galeriasur {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;

  }

  .img-1sur {
    grid-row: span 1;
  }

  .img-4sur {
    grid-column: span 1;
  }

}


@media screen and (max-width:743px) {



  .grid-item {
    position: relative;
  }

  .grid-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
  }

  .grid-footer1 img {
    width: 180px;
    height: 63px;
  }

  .grid-footer3 div {
    align-items: center;
  }
}

@media screen and (max-width:681px) {

  .contenido2 div {
    padding: 10px;
  }

  .grid-footer {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);

  }
}


@media screen and (max-width:533px) {


  .grid-galeria2sur {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;


  }
}


@media screen and (max-width:489px) {
  .grid-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }

  .grid-footer {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

}

@media screen and (max-width:440px) {
  .grid-galeria2 {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
  }
}