/* inicio footer general*/
.base-footer {
    background-color: hsla(44, 84%, 63%, 0.808);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;


    .contenido-footer1 {
        padding-left: 40px;
        margin: 20px;

        img {
            width: 242px;
        }
    }


    .contenido-footer2 {
        ul {
            padding: 20px;
            margin: 10px;
            list-style: none;
        }

        li a {
            color: black;
            font-size: medium;
            text-decoration: none;
        }

        li a:hover {
            color: brown;
        }

    }

    .contenido-footer3 h6 {
        margin: 5px;

        p {
            font-size: small;
        }

        a {
            color: black;
           

        }

    }

    .grid-icons a {
        color: black;
        font-size: 30px;
    }

}