//VARIABLES
$color-principal: #89ad3481;
$color-secundario: #d2e091;
$color-terciario: yellow;
// listas
$colores: rgb(90, 196, 4), rgb(174, 216, 24);

//extends
%arreglo1 {
       background-color: rgb(80, 110, 34);
    border: 1px solid black;
}


@mixin arreglo2 ($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
}