


@media screen and (max-width:811px) {
  .grid-provincias {
    display: block;
  }

  .grid-provincias div img {
    width: 90%;
    padding: 10px;
  }

  .grid-provincias div p {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
  }

  .grid-galeriasur {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;

  }

  .img-1sur {
    grid-row: span 1;
  }

  .img-4sur {
    grid-column: span 1;
  }

}

@media screen and (max-width:743px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;
  }

  .img-1 {
    grid-column: span 1;
  }

  .img-4 {
    grid-column: span 1;
  }

  .img-5 {
    grid-column: span 1;
  }

  .grid-item {
    position: relative;
  }

  .grid-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
  }

  .grid-footer1 img {
    width: 180px;
    height: 63px;
  }

  .grid-footer3 div {
    align-items: center;
  }
}

@media screen and (max-width:681px) {

  .contenido2 {
    flex-direction: column;
    padding: 10px;
  }

  .grid-footer {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);

  }
}


@media screen and (max-width:533px) {


.grid-galeria2sur {
      display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-items: center;


}
}

@media screen and (max-width:489px) {
  .grid-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }

  .grid-footer {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

}

@media screen and (max-width:440px) {
  .grid-galeria2 {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
  }
}